<footer >
    <div class="mt-1 py-16 bg-primary">
        <div class="flex flex-row justify-center gap-10 text-4xl">
            <a href="https://github.com/esthermuthoni"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/esther-muthoni-a8582b2aa"><i class="fab fa-linkedin"></i></a>
            <a href="https://mailto:essymso59@gmail.com"><i class="fab fa-envelope"></i></a>
            <a href="https://Wa.me/+254759373441"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="text-center mt-2 text-xl">
            <p id="year">&copy; <%= new Date().getFullYear() %> Esther Muthoni</p>
        </div>
    </div>   
</footer>
</body>
</html>