 <%- include ('partials/header') %>
 <main>
 <div class="bg-primary flex-grow">
  <div>
    <h1 class="text-xl md:text-2xl text-center font-bold">About Me</h1>
    <p class="text-base md:text-lg">I’m a passionate and curious aspiring full-stack developer and graphic design enthusiast. I recently finished programming school, where I focused on web development and learned technologies like JavaScript, Node.js, React, Next.js, Express, MongoDB, CSS, Tailwind, REST APIs, and working with Git and GitHub. I’m continuously exploring new tools and techniques, experimenting with projects, and getting more comfortable with full-stack development every day.I love collaborating with others, learning from different perspectives, and tackling challenges that push me to grow. While problem-solving is something I’m still mastering, my excitement for coding keeps me motivated and eager to improve. Alongside coding, I enjoy graphic design and often create designs with Canva, merging creativity with functionality.</p>
    </div>
     <div class="bg-primary"> 
        <h1 class="text-xl md:text-2xl font-bold p-2">Skills & Proficiency</h1>
        <p class="font-semibold p-1"> Things ive learnt and a proficient at.</p>
       <div class="flex flex-col md:flex-row gap-x-10  justify-center">
        <div class="p-2">
         <h2 class="text-lg md:text-xl font-semibold py-2">Frontend Development</h2>
          <ul class="flex flex-col gap-3 list-disc">
            <li>HTML, CSS, Tailwind</li>
            <li>JavaScript,Nextjs React</li>
           <li>Nextjs</li> 
          </ul>
        </div>
        <div class="p-2">
         <h2 class="text-lg md:text-xl p-2 font-semibold">Backend Development</h2>
          <ul class="flex flex-col gap-3 list-disc">
            <li>Node.js, Express</li>
            <li>REST APIs</li>
            <li>Datbase;MongoDB</li>
          </ul>
        </div>
        <div class="p-2">
         <h2 class="text-lg md:text-xl p-2 font-semibold">Tools & Workflow</h2>
          <ul class="flex flex-col gap-3 list-disc">
            <li>Git & GitHub</li>
            <li>VS Code</li>
            <li>Canva (Design)</li>
          </ul>
        </div>
        </div>
        </div>
          
        
    </div>
</div>
</main>
<%- include ('partials/footer') %>