 <%- include ('partials/header') %>
 <main>
 <div class="bg-primary">
  <div>
    <h1 class="text-xl md:text-2xl text-center">About Me</h1>
    <p class="text-base md:text-lg lg:text-xl mb-3">I’m a passionate and curious aspiring full-stack developer and graphic design enthusiast. I recently finished programming school, where I focused on web development and learned technologies like JavaScript, Node.js, React, Next.js, Express, MongoDB, CSS, Tailwind, REST APIs, and working with Git and GitHub. I’m continuously exploring new tools and techniques, experimenting with projects, and getting more comfortable with full-stack development every day.
    <p class="text-base md:text-lg lg:text-xl mb-3">I love collaborating with others, learning from different perspectives, and tackling challenges that push me to grow. While problem-solving is something I’m still mastering, my excitement for coding keeps me motivated and eager to improve. Alongside coding, I enjoy graphic design and often create designs with Canva, merging creativity with functionality.</p>
    <p class="text-base md:text-lg lg:text-xl mb-3">My goal is to build meaningful, fully functional websites, connect with fellow developers and designers, and keep expanding my knowledge and skill set. I’m driven by curiosity and a desire to see my ideas come to life, and I’m excited about the growth and opportunities that lie ahead in both web development and design</p>
    <p class="text-base md:text-lg lg:text-xl mb-3">When I’m not coding or designing, I enjoy taking on new challenges that help me grow creatively and technically. I’m always excited to push myself, learn something new, and bring fresh ideas into every project I work on.</p>
 </div>
     <div>
        <img src="/about" alt="">
    </div> 
   </div>

     <div class="bg-secondary">
        <h1 class="text-xl md:text-2xl text-center font-bold">Skills & Proficiency</h1>
       <div class=" grid grid-cols-2 md:grid-cols-3">
        <div>
         <h2 class="text-lg md:text-xl m-2 font-semibold">Frontend Development</h2>
          <ul class="flex flex-col gap-3">
            <li>HTML, CSS, Tailwind – Intermediate</li>
            <li>JavaScript, React – Intermediate</li>
           <li>Next.js – Beginner to Intermediate</li> 
          </ul>
        </div>
        
        <div>
         <h2 class="text-lg md:text-xl m-2 font-semibold">Backend Development</h2>
          <ul class="flex flex-col gap-3">
            <li>Node.js, Express – Intermediate</li>
            <li>REST APIs – Intermediate</li>
            <li>MongoDB – Intermediate</li>
          </ul>
        </div>

        <div>
         <h2 class="text-lg md:text-xl m-2 font-semibold">Tools & Workflow</h2>
          <ul class="flex flex-col gap-3">
            <li>Git & GitHub – Intermediate</li>
            <li>VS Code = Advanced (daily use)</li>
            <li>Canva (Design) – Intermediate</li>
          </ul>
        </div>
        </div>
          
        
    </div>
</div>
</main>
<%- include ('partials/footer') %>