<%- include ('partials/header') %>
<main class="bg-primary flex-grow p-6">
    <h1 class="text-xl md:text-2xl text-center font-bold py-3">My Projects</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col">
            <img src="/images/landingpage.png" alt="LandingPage" class="rounded w-11 h-11">
            <h2 class="text-lg md:text-xl font-semibold">Landing Page Website</h2>
            <p class="text-base md:text-lg">This landing page was developed using React and Tailwind CSS v3, with an emphasis on responsiveness, simplicity, and modern design. I used reusable React components and Tailwind’s utility-first approach to build a clean, scalable layout that adapts smoothly to different devices.</p>
            <div class="flex flex-row gap-12 py-3">
              <a href="https://final-project-sigma-two.vercel.app" class="bg-secondary px-4 py-2 rounded">View</a>
              <a href="https://github.com/Estherngaire/FinalProject.git" class="bg-secondary px-4 py-2 rounded">Github</a>
            </div>
            
        </div>

        <div class="flex flex-col">
            <img src="/images/portfolio.png" alt="Project 2" class="rounded w-11 h-11">
            <h2 class="text-lg md:text-xl font-semibold">Personal Portfolio Website</h2>
            <p class="text-base md:text-lg">A responsive personal portfolio website built using Node.js, Express, and EJS.Features multiple pages, dynamic routing, and a functional contact form powered by Nodemailer and environment variables.</p>
            <div class="flex flex-row gap-12 py-3">
              <a href="https://portfolio-7bax.onrender.com" class="bg-secondary px-4 py-2 rounded">View</a>  
              <a href="https://github.com/Estherngaire/Portfolio.git" class="bg-secondary px-4 py-2 rounded">Github</a>
            </div>
        </div>
    </div>
</main>
<%- include ('partials/footer') %>